.footer__column-link{
  margin-top: 32px;
}
.footer__column-link:first-of-type{
  margin-top: 0;
}
@media screen and (min-width: 768px){
  .footer__column-link{
    display: inline;
    margin-left: 18px;
  }
  .footer__column-link:first-of-type{
    margin-left: 0;
  }
}