.cover__subtitle{
  margin: 0 auto;
  width: 288px;
  margin-top: 16px;
  position: relative;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px){
  .cover__subtitle{
    width: 360px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
  }
}