.lead__image{
  display: block;
  margin-top: 40px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 768px){
  .lead__image{
    margin: 0 auto;
    margin-top: 56px;
  }
}
@media screen and (min-width: 945px){
  .lead__image{
    max-width: 928px;
    max-height: 580px;
  }
}
@media screen and (min-width: 1024px){
  .lead__image{
    margin: 0 auto;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1280px){
  .lead__image{
    max-width: 984px;
    max-height: 615px;
    margin-top: 64px;
  }
}