.cover__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 62.5vw;
  max-height: 740px;
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}
.cover__block::before{
  content: "";
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cover__block:hover::before{
  opacity: 0.8;
}